:host {
    position: fixed;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 10%;
    pointer-events:none;
  }

.content{
    position: relative;
    padding: 34px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 2, 4, 0.5);
    color: white;
}

.bg-color{
    background-color:rgba(0, 0, 0, 0.8);
}