<div class="juhua-loading">
    <div class="jh-circle1 jh-circle-ios"></div>
    <div class="jh-circle2 jh-circle-ios"></div>
    <div class="jh-circle3 jh-circle-ios"></div>
    <div class="jh-circle4 jh-circle-ios"></div>
    <div class="jh-circle5 jh-circle-ios"></div>
    <div class="jh-circle6 jh-circle-ios"></div>
    <div class="jh-circle7 jh-circle-ios"></div>
    <div class="jh-circle8 jh-circle-ios"></div>
    <div class="jh-circle9 jh-circle-ios"></div>
    <div class="jh-circle10 jh-circle-ios"></div>
    <div class="jh-circle11 jh-circle-ios"></div>
    <div class="jh-circle12 jh-circle-ios"></div>
</div>